@font-face {font-family: "iconfont";
  src: url('./iconfont.ttf');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-leimupinleifenleileibie2:before {
  content: "\e7f8";
}

.icon-shouye:before {
  content: "\e626";
}

.icon-bofang:before {
  content: "\e646";
}

.icon-zhanghao:before {
  content: "\e605";
}

.icon-duoxuankuang:before {
  content: "\e620";
}

.icon-iconset0336:before {
  content: "\e600";
}

.icon-jiuyetongdao:before {
  content: "\e640";
}

.icon-yanjing:before {
  content: "\e68d";
}

.icon-weidenglutouxiang:before {
  content: "\e6c3";
}

.icon-zhanghao1:before {
  content: "\e617";
}

.icon-wodexuexi:before {
  content: "\e671";
}

.icon-bofang1:before {
  content: "\e64a";
}

.icon-sangedian:before {
  content: "\e601";
}

.icon-ketang:before {
  content: "\e6ac";
}

.icon-bofang2:before {
  content: "\e602";
}

.icon-tubiaolunkuo-:before {
  content: "\e615";
}

.icon-yejianmoshi:before {
  content: "\e616";
}

.icon--:before {
  content: "\e60e";
}

.icon-bofang3:before {
  content: "\e641";
}

.icon-biji-:before {
  content: "\e603";
}

.icon-noData:before {
  content: "\e80c";
}

.icon-zanting2-copy:before {
  content: "\e604";
}

.icon-zixun:before {
  content: "\e68e";
}

.icon-wodeshoucang:before {
  content: "\e62d";
}

.icon-shangchuan:before {
  content: "\e635";
}

.icon-duoxuankuang1:before {
  content: "\e60d";
}

.icon-kebiao:before {
  content: "\e607";
}

.icon-zixun1:before {
  content: "\e75b";
}

.icon-umidd17:before {
  content: "\e608";
}

.icon-wenda:before {
  content: "\e7a4";
}

.icon-pingjia1:before {
  content: "\e636";
}

.icon-shoucang:before {
  content: "\e62a";
}

.icon-weixin2:before {
  content: "\e6d9";
}

.icon-sousuo:before {
  content: "\e68f";
}

.icon-yemian-copy-copy-copy:before {
  content: "\e60b";
}

.icon-shizhanyanlian:before {
  content: "\e789";
}

.icon-suishoujiriqix:before {
  content: "\e61d";
}

.icon-che:before {
  content: "\e60c";
}

.icon-huanyihuan:before {
  content: "\e62c";
}

.icon-jiuyedongtai:before {
  content: "\e6d0";
}

.icon-bofang4:before {
  content: "\e609";
}

.icon-weixin1:before {
  content: "\e610";
}

.icon-yincang:before {
  content: "\e614";
}

.icon-pingjia:before {
  content: "\e606";
}

.icon-shezhi:before {
  content: "\e655";
}

.icon-leimupinleifenleileibie1-outline:before {
  content: "\e60a";
}

.icon-shijianlishijilujishizhongbiaoxianxing:before {
  content: "\e665";
}

.icon-wodexuexi2:before {
  content: "\e66e";
}

.icon-dianzan:before {
  content: "\e873";
}

.icon-dingdan:before {
  content: "\e875";
}

.icon-shengyin:before {
  content: "\e87a";
}

.icon-saoyisao:before {
  content: "\e879";
}

