.homepage-head {
  width: 100%;
  height: 1.449275rem;
  background-color: #f0f0f0;
  /* background-color: pink; */
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 0.241546rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.homepage-search-bar {
  width: 84%;
  height: 0.724638rem;
  position: relative;
}
.homepage-input {
  width: 100%;
  height: 0.724638rem;
  color: #a0a0a0;
  font-size: 0.434783rem;
  border: 0;
  border-radius: 0.193237rem;
  padding-left: 0.120773rem;
  background-color: #e0e0e0;
}
.homepage-head > span {
  display: inline-block;
  width: 0.531401rem;
  height: 0.531401rem;
  font-size: 0.531401rem;
  font-weight: 600;
  color: #666;
}
.home-content {
  width: 100%;
  position: absolute;
  top: 1.449275rem;
  bottom: 1.570048rem;
  overflow: auto;
  text-align: center;
}

.mint-swipe {
  height: 3.623188rem;
  .mint-swipe-item {
    // width: 100%;
    /* height: 3.623188rem; */
    margin: 0.241546rem auto;
    img {
      width: 96%;
      border-radius: 0.241546rem;
      /* height: 3.623188rem; */
    }
  }
}
.broadcast {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: .193237rem 0;
}
.broadcast span {
  font-size: 0.483092rem;
  width: 10%;
  // height: 0.483092rem;
  height: .724638rem;
  line-height: .724638rem;
}
.broadcast span:nth-child(1) {
  color: orangered;
}
.broadcast span:nth-child(2) {
  color: #666;
}
.broadcast-lists {
  width: 70%;
  height: .57971rem;
  margin: 0.144928rem 0;
  overflow: hidden;
}
.broadcast_top {
  transition: all 0.5s;
  transform: translate(0,-.772947rem);
	// margin-top: -.772947rem;

}
.broadcast-lists li {
  height: .628019rem;
  font-size: .434783rem;
  line-height: .628019rem;
  text-align: left;
  font-family: "微软雅黑";
  margin-bottom: .120773rem;
}

.spike {
  width: 100%;
}
.period ul {
  width: 100%;
  height: .966184rem;
  padding: 0 .362319rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.period ul .periodactive{
  border: .024155rem solid #72a8f2;
  color: #458def;
  background-color: #d4e7f3;
}
.period  li {
  width: 30%;
  height: .724638rem;
  background-color: #eee;
  color: #666;
  border-radius: .144928rem;
  line-height: .724638rem;
  text-align: center;
}
.countdown-module {
  width: 100%;
  height: .966184rem;
  padding: 0 .362319rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.countdown-module>span {
  color: #a0a0a0;
  font-size: .386473rem;
}
.countdown {
  display: flex;
  flex-wrap: nowrap;
  font-size: .386473rem;
  line-height: .483092rem;
  span {
    height: .483092rem;
    width: .434783rem;
    background-color: #222;
    font-weight: 500;
    color: #fff;
    border-radius: .072464rem;
  }
}

.spike-course {
  width: 100%;
  height: 10.628019rem;
  overflow: hidden;
}
.spike-course ol {
  width: 300%;
  translate: all 0.5s ease;
}
.all-spike-course {
  width: 33.33%;
  height: 10.628019rem;
  float: left;
  img {
    width: 36%;
    height: 2.173913rem;
  }
}
.spike-animate {
  transition: all .3s linear;
}
.spike-course-detailed{
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  color: #111;
  position: relative;
  h4 {
    height: 1.207729rem;
    font-size: .434783rem;
    line-height: .603865rem;
    text-align: left;
  }
  span {
    display: inline-block;
    font-size: .338164rem;
    text-align: left;
    width: 2.898551rem;
    height: .483092rem;
    line-height: .483092rem;
  }
  span:nth-of-type(2){
    color: red;
  }
  // :nth-child(3){
  //   color: pink;
  // }
}
.panic-buying {
  width: 1.690821rem;
  height: .603865rem;
  color: #fff;
  line-height: .603865rem;
  background-color: #f67b25;
  border-radius: .120773rem;
  position: absolute;
  bottom: 0;
  right: .241546rem;
}

.recommed-title {
  width: 100%;
  height: 0.483092rem;
  margin: 0.241546rem 0;
  padding: 0 0.362319rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span:nth-child(1) {
    font-size: 0.483092rem;
    font-family: "微软雅黑";
    font-weight: 16.908213rem;
  }
  span:nth-child(2) {
    font-size: 0.386473rem;
    color: #666;
    border-radius: 0.096618rem;
    background-color: #e0e0e0;
    display: inline-block;
    width: 2.173913rem;
    height: 0.483092rem;
    line-height: 0.483092rem;
    text-align: center;
  }
}
// .v-enter-active,
// .v-leave-active {
//   transition: all 0.5s ease;
// }

.recommed-course {
  width: 100%;
}
.recommed-course li {
  width: 46%;
  height: 4.10628rem;
  img {
    width: 100%;
    height: 2.415459rem;
    border-radius: 0.120773rem;
  }
  h4 {
    width: 100%;
    height: 0.483092rem;
    font-size: 0.386473rem;
    font-family: "微软雅黑";
    text-align: left;
    margin: 0.144928rem 0;
  }
  span {
    width: 100%;
    height: 0.483092rem;
    font-size: 0.289855rem;
    line-height: 0.483092rem;
    text-align: left;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.recommed-course ul {
  margin: 0.289855rem 0.120773rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.actual-combat {
  width: 100%;
}
.spike-title,
.actual-combat-title {
  width: 100%;
  height: 0.483092rem;
  margin: 0.241546rem 0;
  padding: 0 0.362319rem;
  color: #222;
  font-size: 0.483092rem;
  font-family: "微软雅黑";
  font-weight: 16.908213rem;
  text-align: left;
}
.all-spike-course li,
.actual-combat-course li {
  width: 100%;
  height: 2.173913rem;
  display: flex;
  justify-content: space-around;
  margin: .386473rem 0;
  img {
    display: inline-block;
    width: 35%;
    border-radius: .193237rem;
  }
}

.actual-combat-course-detailed {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  color: #111;
  h4 {
    height: 1.207729rem;
    font-size: .434783rem;
    line-height: .603865rem;
    text-align: left;
  }
  span {
    display: inline-block;
    font-size: .338164rem;
    text-align: left;
    height: .483092rem;
    line-height: .483092rem;
  }
}

